* {
	font-family: Arial;
	color: #666666;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #2B5873;
}

h1 {
	border-bottom: 1px solid #2B6873;
}
h1 span {
	color: #2B5873;
}

a {
	color: #2B5873;
}
a:hover {
	background-color: #2B578333;
}

h1 a {
	align-items: center;
	display: flex;
	font-size: 1rem;
	font-weight: normal;
	height: 49px;
}

.badge.badge-titleCount {
	color: #666;
	font-style: italic;
	font-weight: normal;
	margin-left: 15px;
}

#standingsTable {
	width: 100%;
}
#standingsTable thead th,
#standingsTable tbody td {
	text-align: center;
	width: 60px;
}
#standingsTable thead th:nth-of-type(2),
#standingsTable tbody th {
	text-align: left;
	width: calc( 100% - ( 60px * 9 ) - 300px );
}
#standingsTable thead th:last-of-type,
#standingsTable tbody td:last-of-type {
	text-align: left;
	width: 300px;
}

#standingsTable img {
	height: 20px;
}

.is_champion > * {
    background-color: #FEFBDC !important;
}
.is_relegated > * {
    background-color: #DCB6B6 !important;
}
.is_promoted > * {
	background-color: #DCF1DA !important;
}
.go_playoff > * {
    background-color: #F1F9F0 !important;
}

.nav-tabs {
	border-bottom-color: #2B5873;
}
.nav-tabs .nav-link {
	color: #2B5873 !important;
	min-width: 150px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border-color: #2B5873 #2B5873 transparent #2B5873;
	font-weight: bold;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: #2B5873 #2B5873 transparent #2B5873;
}

#resultsTable {
	width: calc ( 300px + ( attr(data-teams) * 60px ) );
}
#resultsTable th, #resultsTable td {
	padding: 10px;
}
#resultsTable tbody th {
	width: 300px;
}
#resultsTable tbody td {
	text-align: center;
	width: 60px;
}
#resultsTable .homeWin {
	background-color: #E8FBFF;
}
#resultsTable .awayWin {
	background-color: #FFE8E8;
}
#resultsTable .draw {
	background-color: #FFFFE8;
}
#resultsTable .noMatch {
	background-color: #FAFAFA;
}
#resultsTable * {
	border-color: #666666;
}

abbr {
	text-underline-offset: 4px;
	text-decoration-color: #CCCCCC !important;
}

.match-item .match-note {
	font-size: 0.8rem;
}
.match-item .fw-bold {
	color: #2B5973;
}