* {
	font-family: Arial;
	color: #666666;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #2B5873;
}

h1 {
	border-bottom: 1px solid #2B6873;
}

a {
	color: #2B5873;
}
a:hover {
	background-color: #2B578333;
}