* {
	font-family: Arial;
	color: #666666;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #2B5873;
}

h1 {
	border-bottom: 1px solid #2B6873;
}
h1 span {
	color: #2B5873;
}

a {
	color: #2B5873;
}
a:hover {
	background-color: #2B578333;
}

h1 a {
	align-items: center;
	display: flex;
	font-size: 1rem;
	font-weight: normal;
	height: 49px;
}

@media (min-width: 992px) {
	.row-cols-lg-10 > * {
		flex: 0 0 auto;
		width: 10%;
	}
}

.btn-outline-dark {
	border-color: #2b5873;
	color: #2b5873;
}
.btn-outline-dark:hover {
	background-color: #2b587333;
	color: #2b5873;
	border-color: #2b5873;
}

.winner-box {
    border: 1px solid #2b5873;
    border-radius: 10px;
    padding: 10px;
	position: relative;
}
.winner-box__competition {
    opacity: 0.6;
}
.winner-box__team {
    color: #2b5873;
    font-size: 1.5rem;
}
.winner-box__count {
    background: #eeeeee;
    border-radius: 10px;
    color: #666666;
    font-size: 0.75rem;
    padding: 2px 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#competitions .list-group-item {
    border-bottom-color: #ccc;
    border-color: #2b5873;
}
#competitions .list-group-item-primary {
	background-color: #2b587322;
    border-bottom-color: #2b5873;
    color: #2b5873;
    font-weight: bold;
}
#competitions .list-group-item:last-child {
    border-bottom-color: #2b5873;
}

#competitions .list-group-item:not(a):not(.list-group-item-primary),
#competitions .list-group-item:not(a):not(.list-group-item-primary) * {
	color: #66666666;
}

.list-group-item .series {
    display: block;
    font-size: 0.75rem;
    padding-left: 10%;
    font-style: italic;
}

#leagueTabs .nav-item button {
    color: #2b5873;
    min-width: 150px;
}

#leagueTabs.nav-tabs,
#leagueTabs.nav-tabs .nav-link.active,
#leagueTabs.nav-tabs .nav-link:focus,
#leagueTabs.nav-tabs .nav-link:hover {
    border-color: #2b5873;
}

#leagueTabs.nav-tabs .nav-link.active{
    border-bottom-color: white;
}

/* STANDINGS TABLE *******************************************************************************/
#standings-tab-pane table {
    border: none;
}
#standings-tab-pane table thead {
    border: 1px solid #2b5873;
}
#standings-tab-pane table thead tr th {
    background: #2b5873;
    color: white;
    padding: 10px;
    text-align: center;
    width: 50px;
}
#standings-tab-pane table thead tr th:nth-of-type(2) {
    width: 350px;
    text-align: left;
}
#standings-tab-pane table thead tr th:last-of-type {
    width: calc( 100% - 350px - ( 50px * 9 ) );
}
#standings-tab-pane table tbody {
    border: 1px solid #ccc;
}
#standings-tab-pane table tbody tr > * {
    padding: 10px;
}
#standings-tab-pane table tbody tr td {
    text-align: center;
}
#standings-tab-pane table tbody tr td:last-of-type {
    text-align: left;
    padding-left: 50px;
}
#standings-tab-pane table thead tr th abbr {
    color: white;
    text-underline-offset: 5px;
}

/* STANDINGS TABLE ROW STYLES ********************************************************************/
.is-champion > * {
    background-color: #FEFBDC !important;
}
.is-champion td:nth-of-type(1) {
	background-image: url("assets/trophy.png");
}
.is-champion td:nth-of-type(1) {
    color: transparent;  
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

/* RESULTS TABLE *********************************************************************************/
#matches-tab-pane table {
    width: auto;
}
#matches-tab-pane table .top-row > * {
    background-color: #2b5873;
    color: white;
    border: 1px solid #2b5873;
    text-align: center;
    font-size: 0.7rem;
    font-weight: normal;
}
#matches-tab-pane table :not(.top-row) > th {
    border: 1px solid #ccc;
    border-left-color: #2b5873;
    padding: 10px;
    width: 350px;
}
#matches-tab-pane table :not(.top-row) > td {
    width: 60px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
#matches-tab-pane table :not(.top-row) > *:last-child {
    border-right-color: #2b5873;
}
#matches-tab-pane table tr:not(.top-row):last-child > * {
    border-bottom-color: #2b5873;
}
#matches-tab-pane th abbr {
    color: white;
    text-underline-offset: 5px;
}

/* MATCH ITEMS ***********************************************************************************/
.match-item * {
	color: black;
}

/*.badge.badge-titleCount {
	color: #666;
	font-style: italic;
	font-weight: normal;
	margin-left: 15px;
}

#standingsTable {
	width: 100%;
}
#standingsTable thead th,
#standingsTable tbody td {
	text-align: center;
	width: 60px;
}
#standingsTable thead th:nth-of-type(2),
#standingsTable tbody th {
	text-align: left;
	width: calc( 100% - ( 60px * 9 ) - 300px );
}
#standingsTable thead th:last-of-type,
#standingsTable tbody td:last-of-type {
	text-align: left;
	width: 300px;
}

#standingsTable img {
	height: 20px;
}

.is_relegated > * {
    background-color: #DCB6B6 !important;
}
.go_playoff > * {
    background-color: #F1F9F0 !important;
}
.is_promoted > * {
	background-color: #DCF1DA !important;
}

.nav-tabs {
	border-bottom-color: #2B5873;
}
.nav-tabs .nav-link {
	color: #2B5873 !important;
	min-width: 150px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	border-color: #2B5873 #2B5873 transparent #2B5873;
	font-weight: bold;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: #2B5873 #2B5873 transparent #2B5873;
}

#resultsTable {
	width: calc ( 300px + ( attr(data-teams) * 60px ) );
}
#resultsTable th, #resultsTable td {
	padding: 10px;
}
#resultsTable tbody th {
	width: 300px;
}
#resultsTable tbody td {
	text-align: center;
	width: 60px;
}
#resultsTable .homeWin {
	background-color: #E8FBFF;
}
#resultsTable .awayWin {
	background-color: #FFE8E8;
}
#resultsTable .draw {
	background-color: #FFFFE8;
}
#resultsTable .noMatch {
	background-color: #FAFAFA;
}
#resultsTable * {
	border-color: #666666;
}

abbr {
	text-underline-offset: 4px;
	text-decoration-color: #CCCCCC !important;
	color: black;
}
#resultsTable tbody abbr {
	text-decoration-color: black !important;
}

.match-item .match-note {
	font-size: 0.8rem;
}
.match-item .fw-bold {
	color: #2B5973;
}*/